<h1>{{title}}</h1>

<form action="/api/sessions/recupero" method="post">
  <div>
    <div>
      <label for="email">Email:</label>
      <br />
      <input
        type="email"
        id="email"
        name="email"
        placeholder="usuario@dominio.com"
      />
    </div>
    <div>
      <label for="password">Nuevo Password:</label>
      <br />
      <input type="password" id="password" name="password" placeholder="****" />
    </div>
    <br />
    <button type="submit">Recuperar password</button>
  </div>
</form>
